@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Neon&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", serif;
}
 
body {
   background: rgba(128, 128, 128, 0.2);
   width: 100%;
   margin-top: 5%;
   display: flex;
   justify-content: center;
   align-items: start;
   gap: 20px;
}
 
.wrapper {
   padding: 10px;
   width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
 
.list {
   background: white;
   width: 60%;
   border: 6px solid rgb(166,166,166);
   padding-inline: 10px;
   padding-bottom: 50px;
}
 
.list h1 {
   text-align: center;
   font-size: 25px;
   padding: 20px;
}
 
.products__list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   flex-direction: column;
}
 
.products > span {
   font-weight: bold; 
}
 
.actions {
   width: 15%;
   border: 1.5px solid rgba(0, 0, 0, 0.422);
   padding: 2px 14px;
   border-radius: 20px;
   background-color: rgb(58,146,169);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
 
.actions > span {
   font-size: 12px;
   font-weight: bold;
}
 
.actions > button {
   border: none;
   background-color: transparent;
   color: white;
   cursor: pointer;
   font-weight: bold;
   text-align: center;
   font-size: 14px;
}
 
.products {
   background-color: rgb(166,166,166);
   color: white;
   width: 100%;
   padding: 15px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}
 
.cart {
   width: 40%;
   border: 6px solid rgb(141,141,140);
   background: white;

}
 
.cart h1 {
   font-size: 25px;
   text-align: center;
   padding: 10px;
}
 
.empty__tag {
   text-align: center;
   text-wrap: wrap;
   display: none;
   font-size: 16px;
   color: rgba(0, 0, 0, 0.4);
}
 
.cart__list {
   margin: 10px 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   flex-direction: column;
   padding-inline: 15px;
}
   
.cart__item {
   background-color: rgb(166,166,166);
   color: white;
   width: 100%;
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}
 
.total {
   background-color: rgb(141,141,140);
   color: white;
   width: 80%;
   margin: 100px auto 15px;
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   font-size: 22px;
}






/* create responsive */
@media screen and (min-width: 200px) and (max-width: 768px) {
   .wrapper {
      padding: 10px;
      width: fit-content;
      flex-direction: column;
      gap: 20px;
   }

   .list {
      width: 100%;
   }

   .list h1 {
      font-size: 20px;
   }

   .actions {
      padding: 2px 30px;
   }

   .cart h1 {
      font-size: 20px;
   }

   .empty__tag {
      font-size: 14px;
      padding: 5px;
   }

   .cart {
      width: 90%;
   } 
}


@media screen and (min-width: 768px) and (max-width: 1025px) {
   .wrapper {
      padding: 10px;
      width: fit-content;
      gap: 20px;
   }

   .list {
      width: 100%;
   }
   .actions {
      padding: 2px 30px;
   }
   .cart {
      width: 90%;
   } 
}